@{
    var message = TempData["message"];
}

<div class="container mt-5 text-center">
    @if (message != null)
    {
        <div class="alert alert-danger">@message</div>
    }

    <div class="jumbotron p-5 bg-light shadow rounded">
        <h1 class="display-4">Bienvenue sur notre magasin en ligne !</h1>
        <p class="lead">Découvrez nos meilleurs produits et offres exclusives.</p>
        <hr class="my-4">
        <p>Explorez notre catalogue et trouvez ce qui vous convient.</p>
    </div>
</div>