<form action="~/Payment/Charge" method="POST" id="payment-form">
    <div id="card-element">

    </div>
    <button type="submit">Payer</button>
</form>
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('@ViewBag.StripePublishableKey');
    var elements = stripe.elements();
    var card = elements.create('card');
    card.mount('#card-element');

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                var token = result.token.id;
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token;
                form.appendChild(hiddenInput);
                form.submit();
            }
        });
    });
</script>