<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/outersite.css" asp-append-version="true"/>
</head>
<div class="bg-warning">
    @RenderBody()
</div>