@model TPcommerce.Models.User
<h2>Info sur l'utilisateur</h2>
<div>
    <h2>Ceci est les Users</h2>
    <hr/>
    <p style="font-weight: bold">Id: </p>
    <p>@Model.Id</p>
    <p style="font-weight: bold">Username: </p>
    <p>@Model.Username</p>
    <p style="font-weight: bold">Role: </p>
    <p>@Model.Role</p>
    <p style="font-weight: bold">Password: </p>
    <p>@Model.Password</p>
</div>